body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70%;
}

.title-label {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

#controls {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28%;
  background: #d9d9d9;
  height: 95vh;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#controls label,
#controls select,
#controls button {
  display: block;
  margin: 10px 0;
  font-size: 0.85rem;
}

#year-slider {
  width: 100%;
}

.filters-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  /* optional, for responsiveness */
  margin-bottom: 1rem;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-group label {
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
}

.filter-group select {
  padding: 0.1rem;
  font-size: 0.95rem;
}

.legend-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  flex-wrap: wrap;
  /* ensures it wraps if screen is small */
  font-size: 0.8rem;
}

.legend-section {
  display: flex;
  flex-direction: column;
}

.legend-section strong {
  text-align: left;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.legend-circle {
  background-color: white;
  border: 1px solid #008066;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.legend-color {
  width: 20px;
  height: 20px;
  border: 1px solid #006652;
  border-radius: 3px;
  margin-right: 10px;
  flex-shrink: 0;
}

.major-legend-circle {
  background-color: #ff0000;
  border: 1px solid #660000;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.legend-label {
  font-size: 0.8rem;
}